<p>pagina-chart works!</p>

<mat-tab-group>
    
  <mat-tab label="First" style="height: 100%; width: 100%;">
    <button mat-button color="primary" (click)="gerarGrafico()">carregar grafico</button>
    <div style="height: 300px; width: 100%; display: flex; justify-content: center; align-items: center;">
      
      <div id="main" style="height: 100%; width: 50%;"></div>
    </div>

      
  </mat-tab>
  
  <mat-tab label="Second">
  </mat-tab>
</mat-tab-group>
<!-- <div id="main" style="height: 100%; width: 100%;"></div> -->

